
body {
    font-family: "Open Sans", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url('http://www.brentwarf.com/img/Flyer-Portfolio%20copy.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    
}
h1,
h2 {
    color: #000;
    font-family: "Trade Winds", serif;
}
.header {
    text-align: center;
}
.header h1 {
    margin: 10px 0;
}
.contact {
    margin: 10px 0;
    font-size: 14px;
}
.contact a {
    color: hsl(0, 100%, 50%);
    text-decoration: none;
}
.section {
    margin: 20px 0;
}
.section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}
.item {
    margin-bottom: 15px;
}
.item h3 {
    margin: 0;
    font-size: 18px;
    color: #000000;
}
.item p {
    margin: 5px 0;
    font-size: 14px;
}
.skills ul {
    list-style: none;
    padding: 0;
}
.skills ul li {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
}
.logo {
    text-align: center;
    max-height: 50px;
    display: block;
    margin: 0 auto;
}
.footer {
    
    text-align: center;
        padding: 0;
    color: #FFF;
}
.footer > a {
    color: #FFF;
    text-decoration: none;
}
.overlay{ 
    background: rgba(0, 0, 0, 0.8);
}
.menucontainer {
    position: sticky;
    top: 0;
    background: black;
    color: white;
    padding-top: 1%;
    padding-bottom:1%;
    
}
.nav {
    position: center;
}
.navli {
    display: flex;
    justify-content: center;
    list-style: none;  
    padding: 0px;
}
.navli li {
    margin: 0 20px;
}